@import url('https://fonts.googleapis.com/css?family=Macondo');

* {
	box-sizing: border-box;
	font-family: 'Macondo', cursive;
	padding: 0;	
	margin: 0;
}

form input[type="submit"] {
	border: 2px solid transparent;
	padding: .5em 1em;
	cursor: pointer;
	transition: all linear 0.2s;
}

form input[type="submit"]:hover {
	border: 2px solid grey;
	background: rgb(147, 147, 147);
	color: #fff;
}

.mensaje, .contenedor-menu {
	margin: 20px  auto;
	width: 50%;
	background: #eee;
	padding: 1em;
}

.contenedor-principal {
	width: 50%;
	margin: 20px auto;
	background: #eee;
}

h1 {
	text-align: center;
}

label {
	display: block;
	margin-bottom: 10px;
}

.error {
	color: red;
}

.mensaje {
	color: darkgreen;
	background: rgb(170, 212, 170);
	border: 2px solid darkgreen;
}
1810942
.mensaje-errores {
    border: 2px solid red;
    margin-top: 1em;
    background: rgb(251, 185, 170);
}

.form-container, .mensaje-errores {
	padding: 1em;
}
