@import url('https://fonts.googleapis.com/css?family=Macondo');

* {
	box-sizing: border-box;
	font-family: 'Macondo', cursive;
}

.mensaje, .contenedor-principal, .contenedor-menu {
	margin: 20px  auto;
	width: 50%;
	background: #eee;
	padding: 1em;
}

h1 {
	text-align: center;
}

label {
	display: block;
	margin-bottom: 10px;
}

.error {
	color: red;
}